body {
  font-family: Times ;
  margin: auto ;
  max-width: 600px;
  }

h1,h2{
  color:#003459;
  font-family:Times;
  max-width: 600px;
}
h3 {
  color:#003459;
  font-family:times;
  max-width: 600px;
}
.theme {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    font-size:20pt
  }

  .fa {
      padding: 20px;
      font-size: 40px;
      width: 50px;
      text-align: center;
      text-decoration: blue;
  }
